[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/amalnathsathyan/solana-starter.git
[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/amalnathsathyan/anchor-vault-q1-26
